<div id='header'>
<h1>(Yet Another) Census Survey</h1>
<h3>Hello Census Work Group and Census Users!</h3>
</div>

<div>
	<div class='well'>Not every user of the Census area is on our monthly calls, and not every site participates equally on those calls. For those reasons, I'm hoping to encourage the broadest and most complete participation in this survey.</div>

	<div class='well'>Those of us at the HCSRN mid-year meeting in Seattle realized that the Census area is not working as built. The specs are wonderful, but the majority of sites are unable to use the flexibility built into those specs.
	</div>

	<div class='well'>We have two main issues we're trying to resolve:
		<ol>
			<li>Census and American Community Survey (ACS) location definitions easily become <b>out of date</b> and <b>fail to match</b> more recently geocoded records (i.e., records using newer shapefiles than those used in older Census and ACS data).</li>
			<li>The <b>time and effort of geocoding</b> sites' populations to allow any year's geocoding to match any year's demographic data is  more than many sites' capacities.
				<ul>
					<li>The resulting files have high complexity, processing time and storage space.
					<li>Historical geocodes from older shapefiles &ndash; to match to historic ACS data &ndash; make the Census Location files unmanageably large to process and store.</li>
					<li>Historical ACS data makes the Census Demographics files unmanageably large to process and store.</li>
				</ul>
			</li>
		</ol>
	</div>

	<div class='well'>
		We are searching for solutions will remove as many obstacles as we can, while ensuring that the Census area can still answer most and most important research questions. Your answers to these questions will help us find the proper balance.
	</div>

	<div class='well'>If you have any questions about this survey, please contact <a href='mailto:mack.c@ghc.org?Subject=Census%20Survey' target='_top'>VDW Census Technical Lead, Chris Mack</a>. Anonymous responses are allowed and even encouraged, but will not have the same weight as named responses because we can't follow up with the individuals involved. </div>
</div>
<br />

<%= render 'form' %>