<h1>Census Survey</h1>

<div>
	<p>	Please answer the questions as completely as you are able. </p>
	<p>If the answers are complicated, you have questions about the question, or there's just more to add, please write as much as you like in the Comments sections.</p>
</div>

<%= render 'form' %>
