<h1>Census Survey</h1>

<div>
	<p>	Thanks so much for participating. </p>
	<p> We'll have some time to talk about these issues on our monthly call, Monday, August 8th. </p>
	<p> With a little luck we'll be ready to make a proposal for the October mid-year meeting here in Seattle.</p>
</div>
