<div id='header'>
	<h1>Census Survey</h1>
</div>

<div class='well'>
	<p>	Thanks so much for completing the survey. </p>
	<p> I'll summarize the results so we can talk about prioritization and potential solutions on our monthly call, Monday, December 12th. </p>
	<p><a href='mailto:mack.c@ghc.org?Subject=Census%20Survey' target='_top'>&mdash;Chris</a>
</div>
